@font-face {
    font-family: 'gamegirl_classicregular';
    src: url('gamegirl-webfont.eot');
    src: url('gamegirl-webfont.eot?#iefix') format('embedded-opentype'),
         url('gamegirl-webfont.woff2') format('woff2'),
         url('gamegirl-webfont.woff') format('woff'),
         url('gamegirl-webfont.ttf') format('truetype'),
         url('gamegirl-webfont.svg#gamegirl_classicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

marquee li {
  display:inline;
}
body, .ui-btn {
	font-family: 'gamegirl_classicregular';
}

ul.tester li {
	display:inline;
}
.ui-btn {
    font-size: 1.9vmin;
    line-height: 1;
}
.ui-header, .ui-footer {
	font-size: 3vmin;
	font-family: 'gamegirl_classicregular';
}

.bgimg {
	background: url('http://i.imgur.com/uSTHZf7.gif') left top no-repeat;
    background-color:#999;
    max-height:100%;

} /*var different background for time of day*/

div#txt2 {
	font-size: 13vw;
	opacity: 0.6;
}

h1 {
  font-size: 3.5vw;
  opacity: 0.95;
}
h2 {
  font-size: 4.6vh;
}
p {
  font-size: 2vmin;
}
ul {
	font-size:2vmin; 
}